#wrapper{
    width: 1857px;
    margin: auto;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
html{
    border-top: 32px solid #090909;;
}

h2{
    font-size: 27px;
    color: #090909;
    border-bottom: 6px solid #090909;
    padding-bottom: 22px;
    padding-left: 20px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 0px 7px;
}

/*Header*/
#logo{
    float: left;
    width: 355px;
}