body{
    font-family: Arial, Helvetica, sans-serif;
    border-top: 20px solid #090909;
    margin: 0;
}

h2{
    font-size: 19px;
    padding-left: 30px;
    background-position: 0 7px;
}

h3{
    font-size: 12px;
    padding-left: 23px;
    background-size: 9px;
    background-position: 0 5px;
}

h2, h3{
    text-transform: uppercase;
}