/*Global*/
body{
    font-family: Arial, Helvetica, sans-serif;
    border-top: 20px solid #090909;
    margin: 0;
}

h2{
    font-size: 19px;
    padding-left: 30px;
    background-position: 0 7px;
}

h3{
    font-size: 12px;
    padding-left: 23px;
    background-size: 9px;
    background-position: 0 5px;
}
h2, h3{
    text-transform: uppercase;
    color: #090909;
    padding-bottom: 12px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
}

p{
    color: #5d5d5d;
    font-size: 12px;
    line-height: 14px;
}

/*Helpers*/

.wrapper{
    width: 960px;
    margin: 0 auto;
}

.tittle-border-bottom{
   border-bottom: 6px solid #090909;
}

.clearfix::after{
    content: "";
    clear: both;
    display:  table;
}

.block-border{
    padding: 20px 0 15px;
    border-bottom: 1px solid #c0c0c0;
}

.link-arrow{
    color: #fe9b00;
    font-size: 12px;
    font-weight: bold;
    padding-left: 23px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.link-arrow:hover{
    text-decoration: underline;
}

.link-arrow-img{
    width: 9px;
    position: absolute;
    left: 0;
    top: 4px;
}
/*header*/

#logo{
    float: left;
    width: 184px;
}

#navigation{
    float: right;
    width: 656px;
    position: relative;
}

#navigation-link{
    font-size: 14px;
    color: #999898;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
}

#navigation-list{
    list-style: none;
    margin: 45px 0 0 0;
    padding: 0;
}
#navigation-list li{
    float: left;
}

#navigation-list li + li{
    margin-left: 58px;
}
#navigation-list a{
    font-size: 13px;
    font-weight: bold;
    color: #fe9b00;
    text-decoration: none;
    text-transform: uppercase;
}

/*Main Content*/

#box-benefits-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
#box-benefits-list li{
    padding-left: 30px;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-position: top left;
}